<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lubanjianye.biaoxuntong">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--文件权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--该权限用于获取手机相机使用权限，比如发送图片动弹需要拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--该权限用于获取手机相机使用闪光灯权限，比如二维码扫描需打开闪光灯-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <!--开启屏幕适配-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/log"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.launcher.LauncherActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--百度定位开始-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="GKbLSRGu2RkKpZF2uRFrS1d0yxjIuvrw" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--百度定位结束-->

        <activity android:name="me.shaohui.shareutil._ShareActivity" />

        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="me.shaohui.shareutil._ShareActivity" />

        <activity
            android:name=".ui.launcher.LauncherScrollActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".base.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.browser.BrowserSuitActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.browser.BrowserActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.media.crop.CropActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.media.ImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.media.LargeImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.media.SelectImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.browser.BrowserDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.setting.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.result.detail.sichuan.ResultXjgggDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.result.detail.sichuan.ResultSggjyzbjgDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.sign.SignInActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.sign.SignUpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.sign.ZhuCeXYActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.sign.SignForgetPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.about.AboutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.query.qybg.QybgActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.user.avater.AvaterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.user.avater.AccountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.avater.InviteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.user.avater.BindMobileActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".ui.search.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.user.company.BindCompanyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.user.company.MyCompanyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.company.MyCompanyQyzzAllListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.company.MyCompanyRyzzAllListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.company.MyCompanyQyyjAllListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.company.AddQyzzActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.user.company.AddRyzzActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.query.CompanySearchResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.query.detail.CompanyDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.query.detail.CompanyRyzzListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.query.detail.CompanyQyzzListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.query.detail.CompanySgyjListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.detail.sichuan.IndexHyzxDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.detail.sichuan.IndexBxtgdjDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.detail.sichuan.IndexSggjycgrowDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.detail.sichuan.IndexSggjycgtableDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.detail.sichuan.IndexSggjyDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.detail.sichuan.IndexXcgggDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.detail.sichuan.IndexScgggDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.index.detail.chongqing.IndexCqsggjyDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.detail.IndexArticleDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.detail.ResultArticleDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.result.detail.chongqing.ResultCqsggjyzbjgDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.index.sortcolumn.SortColumnActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.main.user.opinion.OpinionActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.message.MessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />


        <service android:name=".ui.push.PushService" />

        <service android:name=".ui.update.service.DownloadService" />

        <provider
            android:name=".ui.update.UpdateFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/new_app_file_paths" />
        </provider>

    </application>

</manifest>